/projectData/
/JustinsGraphicalModelsToolboxPublic/
/projectDataOld.zip
/JGMT4/
/projectData.zip
/*.asv
/currentDomkeResults.mat
/currentDomkeResults_test.mat
/domkeResults2.mat
/currentDomkeResults3.mat
/currentDomkeResults4.mat
/rocInfo_multipleMaps.mat
/gibbsSample_time1114_runAt20160522233054.mat
/gibbsSample_time1196_runAt20160522232926.mat
/gibbsSample_time204_runAt20160522232753.mat
/gibbsSample_time284_runAt20160522233017.mat
/gibbsSample_time1152_runAt20160522233101.mat
/gibbsSample_time325_runAt20160522232046_2.mat
/*.avi
/gibbsSample_time325_runAt20160528142820.mat
/gibbsSample_time325_runAt20160528142918.mat
/gibbsSample_time325_runAt20160528150142.mat
/masterWriteUp.pdf
*.aux
*.bbl
*.blg
*.log
/*.synctex.gz
/ROCvars_sep2012_3edgeFeats.mat
